<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Codi Titus</h1>

        <p>Hard working and highly motivated business management student with proven leadership and organizational skills seeking to apply my abilities and experience to a position in Project Management. Looking for entry-level Project Manager positions to further my knowledge, proficiency, and career achievement goals.</p>

        <ul>
          <li><a href="./resume.pdf" download>Download resume PDF</a></li>
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
